<div id="introBubble" class="rounded_panel txt_lightgrey">
	<div class="top-rounded-panel grey-bg">
		<h1 id="user-intro">Introduction &amp; Background</h1>
	</div>
	<div class="content-rounded-panel">
		<div id="introBlurb">
			I am a Product Owner / Engineer working at Deutsche Bank Global Technology, having previously spent ten years as a software developer and quality assurance lead at Oracle Communications and Tekelec, giving me a strong foundation of software and systems engineering. <br/><br/>
		</div>
		<br>
	</div>
</div>
